@font-face {
    font-family: "Groteska Regular";
    src: url('../fonts/FontsFree-Net-Groteska-Regular.ttf');
    src: url('../fonts/FontsFree-Net-Groteska-Regular.ttf') format('embedded-opentype'),
         url('../fonts/FontsFree-Net-Groteska-Regular.ttf') format('woff2'),
         url('../fonts/FontsFree-Net-Groteska-Regular.ttf') format('woff'),
         url('../fonts/FontsFree-Net-Groteska-Regular.ttf') format('truetype');
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Groteska Regular';
}
.top {
    text-align: center;
}
.main-wrapper {
    background-color: black;
    color: #fff;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: scroll;
}
.social-wrap a {
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
}
.social-wrap a img {
    height: 20px;
    width: 20px;
}
.one {
    margin-bottom: 5vh;
    margin-top: 7vh;
}
.one p {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.two {
    padding-bottom: 30px;
    margin-top: 10vh;
}
.two p {
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.three p {
    font-size: 18px;
}
.five {
    padding-top: 30px;
}
.four img {
    width: 50%;
    height: auto;
}
@media screen and (max-width:767px){
    .one p {
        font-size: 45px;
    }
    .top.four{
        margin-top: 10vh;
    }
    .top.five {
        margin-top: 0vh;
    }
    .top.three {
        margin-top: 3vh;
    }
    .three p {
        font-size: 16px;
    }
    .social-wrap a img {
        height: 20px;
        width: 20px;
    }
    .two p {
        font-size: 18px;
    }
    .four img {
        width: 80%;
        height: auto;
    }
    .top.four {
        margin-top: 5vh !important;
    }
}
@media screen and (min-width:2000px){
    .one p {
        font-size: 160px;
    }
    .two {
        margin-top: 10vh;
    }
    .two p {font-size: 100px;}
    .three {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .three p {font-size: 85px;}
    .social-wrap a img{
        height: 75px;
        width: 75px;
    }
    .social-wrap a {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
    }
    
}

.top.four {margin-top: 3vh;}

.top.three {margin-top: 3vh;}